.container
    margin: 2% 10%

.element-container
    margin-top: 3%

.label-text
    font-size: 0.875rem
    line-height: 1.75rem
    color: #444444
    margin-right: 20px

.second-container
    display: flex
    margin: 3%
    justify-content: space-around

.due-date
    margin-right: 20px
    font-size: 20px
    color: #444444
    border-radius: 10px
    border: solid 1px #b1b0b0