<div><sp-ml-header back="FALSE" close="FALSE"></sp-ml-header></div>
<sp-ml-footer
  desc="Todos Los Derechos Reservados.  2024 © Banco de Bogotá."
></sp-ml-footer>

@if (_isUserLogged) {
<div>
  <h2>Vamos a definir tareas. Let's go</h2>
  <app-task-form
    (taskCreated)="handleTaskCreated($event)"
  ></app-task-form>
  <app-task-list
    (taskToUpdate)="handleTaskToUpdate($event)"
    [tasks]="tasks"
    [jwt]="jwt"
  ></app-task-list>
</div>
} @else if (_isTaskToBeUpdated) {
  <h2>Vamos a actualizar esa tarea.</h2>
  <app-task-form
    [IsTaskUpdating]="true"
    [taskToUpdate]="taskToUpdate"
    (taskUpdated)="handleTaskUpdated($event)"
  ></app-task-form>
} @else {
<div class="container">
  <div class="element-container">
    <sp-at-input
      #user
      label="Nombre de usuario"
      message=""
      type="TEXT"
      status="ENABLED"
      required="true"
    ></sp-at-input>
  </div>
  <div class="element-container">
    <sp-at-input
      #password
      class="element-container"
      label="Contraseña"
      message=""
      type="PASSWORD"
      status="ENABLED"
      required="true"
    ></sp-at-input>
  </div>
  <button
    type="submit"
    class="element-container sp-at-btn sp-at-btn--primary sp-at-btn--lg"
    (click)="loggingUser()"
  >
    Iniciar sesión<span>›</span>
  </button>
</div>
}

<sp-ml-modal
  #successModal
  is-close
  icon="success"
  title-modal="¡Muy bien!"
  sub-title="Manos a la obra. La tarea ha sido creada"
  options-buttons='[{"id":"0","value":"Continuar"}]'
></sp-ml-modal>
<sp-ml-modal
  #notValidLoggingModal
  is-close
  icon="error"
  title-modal="¡Oh no!"
  sub-title="Las credenciales no son válidas. Intenta otra vez"
  options-buttons='[{"id":"0","value":"Continuar"}]'
></sp-ml-modal>
<sp-ml-modal
  #errorModal
  is-close
  icon="error"
  title-modal="¡Ups!"
  sub-title="Algo ha fallado. Intenta nuevamente"
  options-buttons='[{"id":"0","value":"Continuar"}]'
></sp-ml-modal>
